#navigation {
  box-shadow:1px 1px 1px 1px rgba(38,38,38,0.15);
}
#navigation-s {
  box-shadow:1px 1px 1px 1px rgba(38,38,38,0.15);
}
.content {
  margin-top: 27px;
}
.article-detail .bread-crumb {
  background: #fff;
  margin-bottom: 38px;
}
.article-detail .bread-crumb li a{
  height:16px;
  font-size:16px;
  font-weight:500;
  color:rgba(153,153,153,1);
  line-height:25px;
}
.article-detail .bread-crumb li.arrow {
  color:rgba(153,153,153,1);
  font-size:14px;
}
.article-detail .bread-crumb li.active{
  height:16px;
  font-size:16px;
  font-weight:500;
  line-height:25px;
  color:#040000;
}

#article-detail .desc {
  margin: 20px 0 10px;
  font-size:16px;
  font-weight:500;
  color:rgba(153,153,153,1);
  line-height:25px;
}
#article-detail .icon {
  height: 16px;
  margin-right:5px;
}
#article-detail .share {
  /* margin: 20px 0 10px;
  font-size:16px;
  font-weight:500;
  color:rgba(153,153,153,1);
  line-height:25px; */
}

#article-detail .main-box {
  width: 100%;
  padding: 22px 0;
  border-top:1px solid rgba(230,230,230,1);
  border-bottom:1px solid rgba(230,230,230,1);
}
#article-detail .main-box .content {
  font-size:16px;
  font-weight:400;
  color:rgba(102,102,102,1);
  line-height:25px;
}
#article-detail .main-box .cats{
  width: 100%;
  margin-top: 15px;
  height:16px;
  font-size:16px;
  font-weight:400;
  color:rgba(51,51,51,1);
  line-height:25px;
}

#pre-next .pre, #pre-next .next{
  height:16px;
  font-size:16px;
  font-weight:400;
  color:rgba(51,51,51,1);
}
#pre-next .pre{
  margin: 23px 0 20px;
}
#pre-next .next{
  margin-bottom: 30px;
}
.aside aside {
  margin-bottom: 30px;
}
.aside .aside-title {
  height: 20px;
  padding: 0 7px;
  color: #333;
  font-size: 16px;
  line-height: 20px;
  border-left: 5px solid #333;
  margin-bottom: 30px;
}

.remarks-content .row, .products-content .row{
  margin-right: -60px;
}
.remarks-content-s .item, .products-content-s .item {
  /* min-width: 110px; */
  height:36px;
  border:1px solid rgba(153,153,153,1);
  border-radius:18px;
  margin:5px 2px;
}
#relative-words .item, #quick-links .item {
  min-width: 110px;
  height:36px;
  border:1px solid rgba(153,153,153,1);
  border-radius:18px;
  margin:5px 2px;
}
#new-articles {
  height: 420px;
  width: 100%;
}
#new-articles .right-list .art-title{
  white-space: nowrap;  
  text-overflow:ellipsis; 
  overflow:hidden;
  font-size:16px;
  color:rgba(51,51,51,1);
  margin-bottom: 19px;
}

#article-list .article {
  border-bottom: 1px solid #E6E6E6;
  box-sizing: border-box;
  padding-top: 40px;
}

.article .article-pic {
  width: 240px;
  height: 150px;
}
.article  .article-text {
  margin-left: 40px;
}

.article  .article-title {
  height:26px;
  font-size:26px;
  font-weight:500;
  color:rgba(51,51,51,1);
  margin-bottom: 20px;
  white-space: nowrap;  
  text-overflow:ellipsis; 
  overflow:hidden;
}
.article  .article-desc {
  font-size:18px;
  color:rgba(102,102,102,1);
  line-height:29px;
  overflow:hidden; 
  text-overflow:ellipsis;
  display:-webkit-box; 
  -webkit-box-orient:vertical;
  -webkit-line-clamp:3; 
}
.article  .article-info {
  /* height:13px; */
  font-size:16px;
  font-weight:400;
  color:rgba(153,153,153,1);
  line-height:40px;
}
.article  .article-info img{
  height:20px;
  margin-right: 3px;
}
.article  .article-info .viewcount{
  margin-left:42px;
}

.mini-app {
  min-width:400px;
  height: 164px;
  background:rgba(245,245,245,1);
}
.mini-app .message{
  height:17px;
  font-size:16px;
  color:rgba(51,51,51,1);
  line-height:25px;
}
#share {
  margin-bottom: 60px;
}