<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title> 开心养车，专业汽车养护平台，为你解决汽车维修|保养|美容用车问题_互联网养车开创者</title>
  <meta name="description" content="开心养车专注于互联网+车后服务领域，创新打造全国千城万店汽车保养品牌连锁，成为亿万车主首选的修车放心、养车省心的爱车生活平台。涵盖汽车清洗护理，空调，灯光，制动，动力，行驶等汽车各系统维修工作同时为车主提供汽车保养，汽车美容、汽车维修、汽车改装一站式服务。"
  />
  <meta name="keywords" content="汽车保养，汽车维修，汽车养护，汽车美容，深圳汽车维修，深圳汽车保养" />
  <meta name="baidu-site-verification" content="qHIkNQaaAC" />
  <link rel="icon" href="img/favicon.ico" type="image/x-icon">
  <!-- Bootstrap -->
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/global.css" rel="stylesheet">
  <link href="css/service.css" rel="stylesheet">
  <link href="css/mul-Carousel.css" rel="stylesheet">
  <link href="css/flexible-bootstrap-carousel.css" rel="stylesheet"/>

  <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
  <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
  <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="js/template-web.js"></script>
  <script type="text/javascript" src="js/flexible-bootstrap-carousel.js"></script>
  <script type="text/javascript" src="js/mul-carousel.js"></script>
</head>

<body>
  <!-- 头部 -->
  <div class="header">
    <div class="main">
      <div class="fbc header-content">
        <div class="hidden-xs">互联网养车开拓者，亿万车主首选的爱车生活平台</div>
        <div class="visible-xs-block">亿万车主首选的爱车生活平台</div>
        <div class="header-right fbc hidden-xs">
          <div class="phone-box">
              <img class="icon-phone" src="img/phone.png">
              <span class="phone">客服咨询：0755-26668499</span>
          </div>
          <div class="app">
              <img class="icon-app" src="img/mini.png">
              <span class="appcode"><img src="img/kxycc.png"></span>小程序
          </div>
        </div>
      </div>
    </div> 
  </div>
	<!-- 大屏幕导航 -->
  <nav class="navbar navbar-default fcc main" id="navigation">
    <div class="navbar-box fbc">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img src="img/logo.png" alt="开心养车" class="logo">
        </a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div>
        <ul class="list-unstyled list-inline right-nav">
          <li><a href="index.html">首页 <span class="sr-only">(current)</span></a></li>
          <li class="active"><a href="#">车主服务</a></li>
          <li><a href="upkeep.html">养车百科</a></li>
          <li><a href="about.html">关于我们</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <!-- 轮播图banner -->
  <section id="banner"></section>
  <!-- 客户解决方案 -->
  <section id="solution">
    <div class="section-title">
        <h2 class="title">我们为客户提供专业的解决方案</h2>
        <p class="desc text-uppercase">professional solutions</p>
        <div class="divider">
          <div class="divider-line"></div>
          <div class="divider-dot"></div>
          <div class="divider-dot large"></div>
          <div class="divider-dot"></div>
          <div class="divider-line"></div>
        </div>
      </div>
      <!-- <div class="content-box"> -->
        <div class="container-fluid box">
          <div class="row top-row">
            <div class="left-top row-item">
              <a href="#">
              <img class="img-responsive" src="img/left-top.png" alt="">
              <div class="service-title white-color">
                <div class="text-left">
                  <h3>智慧钣喷</h3>
                  <p>Maintenance</p>
                </div>  
              </div>
              </a>
            </div>
            <div class="empty-item"></div>
            <div class="right-top  row-item">
              <a href="#">
                <img class="img-responsive" src="img/right-top.png" alt="">
                <div class="service-title">
                  <div class="text-right">
                    <h3>汽车美容</h3>
                    <p>Auto beauty</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="row z-top">
            <div class="center-circle fccc">
              <a href="#">
              <img class="img-responsive" src="img/center.png" alt="">
              </a>
            </div>
          </div>
          <div class="row bottom-row">
            <div class="left-bottom  row-item">
              <a href="#">
              <img class="img-responsive" src="img/left-bottom.png" alt="">
              <div class="service-title">
                <div class="text-left">
                  <h3>保养配件</h3>
                  <p>Auto parts</p>
                </div>
              </div>
              </a>
            </div>
            <div class="empty-item"></div>
            <div class="right-bottom  row-item">
              <a href="#">
              <img class="img-responsive" src="img/right-bottom.png" alt="">
              <div class="service-title white-color">
                <div class="text-right">
                  <h3>汽车用品</h3>
                  <p>Auto supplies</p>
                </div>
              </div>
              </a>
            </div>
          </div>
        </div>
      <!-- </div> -->
    </div>
  </section>
  <!-- 我们的门店图片 -->
  <section id="our-shops"  class="main">
      <div class="section-title">
          <h2 class="title">我们的门店</h2>
          <p class="desc text-uppercase">our stores</p>
          <div class="divider">
            <div class="divider-line"></div>
            <div class="divider-dot"></div>
            <div class="divider-dot large"></div>
            <div class="divider-dot"></div>
            <div class="divider-line"></div>
          </div>
        </div>
    <div class="container-fluid" id="shop-slider">
    </div>
  </section>
  <!-- 服务展示 -->
  <section id="founder"  class="main">
    <div class="section-title">
        <h2 class="title">服务展示</h2>
        <p class="desc text-uppercase">service display</p>
        <div class="divider">
          <div class="divider-line"></div>
          <div class="divider-dot"></div>
          <div class="divider-dot large"></div>
          <div class="divider-dot"></div>
          <div class="divider-line"></div>
        </div>
      </div>
      <div id="services" class="fcc">
      </div>
  </section>

  <!-- 网站底部 -->
  <footer id="footer">
      <section class="list main">
        <div class="footer-list container-fluid fs">
          <div class="item col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <h3 class="white-color item-title">汽车保养</h3>
            <ul class="list-unstyled">
                <li>机油保养</li>
                <li>刹车保养</li>
                <li>发动机保养</li>
                <li>燃油管路保养</li>
                <li>火花塞的保养</li>
                <li>门边铰链保养</li>
            </ul>
          </div>
          <div class="item col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <h3 class="white-color item-title">汽车维修</h3>
            <ul class="list-unstyled">
                <li>钣金喷漆</li>
                <li>汽车电工</li>
                <li>换油中心</li>
                <li>机修修理汽车</li>
                <li>四轮定位</li>
                <li>动平衡</li>
            </ul>
          </div>
          <div class="item col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <h3 class="white-color item-title">汽车美容</h3>
            <ul class="list-unstyled">
                <li>车身美容</li>
                <li>内饰美容</li>
                <li>漆面处理</li>
                <li>汽车防护</li>
                <li>汽车精品</li>
                <li>防爆隔热膜</li>
            </ul>
          </div>
          <div class="item col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <h3 class="white-color item-title">相关链接</h3>
            <ul class="list-unstyled">
                <li><a target="_blank" href="http://blog.sina.com.cn/u/6617578702">开心养车论坛</a></li>
                <li><a target="_blank" href="http://author.baidu.com/home/1607383568695712">开心养车百家号</a></li>
                <li><a target="_blank" href="https://weibo.com/p/1006066599798083">开心养车微博</a></li>
                <li><a target="_blank" href="https://chejiahao.autohome.com.cn/My   ">开心养车车家号</a></li>
                <li><a target="_blank" href="https://www.zhihu.com/people/kai-xin-yang-che-40/posts">开心养车知乎号</a></li>
                
            </ul>
          </div>
          <div class="item col-lg-2 col-md-4 col-sm-6 col-xs-12 fcsc">
            <h3 class="white-color item-title text-center">微信公众号</h3>
            <img src="img/kxyc.png" alt="开心养车公众号">
          </div>
          <div class="item col-lg-2 col-md-4 col-sm-6 col-xs-12 fcsc">
              <h3 class="white-color item-title text-center">应用平台</h3>
              <img src="img/kxycc.png" alt="开心养车C小程序">
          </div>
        </div>
      </section>
      <div class="divider main"></div>
      <div class="footer-desc fccc main">
        <p>全国咨询热线: <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 0755 - 266 68499</p>
        <p>地址：广东省深圳市南山区中国科技开发院5楼502室</p>
        <p>深圳公安备案号：粤ICP备18028838号</p>
      </div>
  </footer>
  
  <!-- 轮播图模板 -->
  <script type="text/html" id="banner-slider">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          {{each imgs value i}}
          {{if i==0}}
          <li data-target="#carousel-example-generic" data-slide-to="{{i}}" class="dots active"></li>
          {{else if i!=0}}
          <li data-target="#carousel-example-generic" data-slide-to="{{i}}" class="dots"></li>
          {{/if}}
          {{/each}}
        </ol>
      
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          {{each imgs img i}}
          {{if i==0}}
          <div class="item active slider-item">
            <a href={{img.newsUrl}}>
              <img class="slider-img img-responsive" src={{img.imgUrl}} alt={{img.alt}}>
              <div class="carousel-caption">
              </div>
            </a>   
          </div>
          {{else if i!=0}}
          <div class="item slider-item">
            <a href={{img.newsUrl}}>
              <img class="slider-img img-responsive" src={{img.imgUrl}} alt={{img.alt}}>
              <div class="carousel-caption">
              </div>
            </a>  
          </div>
          {{/if}}
          {{/each}}
        </div>
      
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  </script>

  <!-- 门店图片轮播模板 -->
  <script type="text/html" id="img-slider">
    <div class="carousel-example">
        <!-- FLEXIBLE BOOTSTRAP CAROUSEL -->
        <div id="simple-content-carousel" class="carousel flexible slide" data-ride="carousel" data-interval="3000" data-wrap="true">           
          <div class="items">
            {{each imgs img i}}
            <div class="flex-item fccc">
              <img class="img-responsive" src={{img.imgUrl}} alt={{img.alt}}/>
            </div>
            {{/each}}
          </div>
          <div class="carousel-inner" role="listbox">
          </div>
          <a class="left carousel-control fccc" href="#simple-content-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control fccc" href="#simple-content-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
  </script>

  <!-- 服务列表 -->
  <script type="text/html" id="service-list">
    <div class="img-content container-fluid">
      <div class="row">
        {{each services item i}}
        <div class="col-lg-4 col-md-6 col-sm-12 service-item fsc">
          <a href={{item.url}}>
            <div>
              <img class="img-responsive" src={{item.src}} alt={{item.text}}>
            </div>
            <div class="up-box fccc">
              <div class="up-text fccc">
                <p>{{item.text}}</p>
              </div>
            </div>
            </a>
        </div>
        {{/each}}
      </div>
    </div>
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
      renderBannerSlider();
      renderServicesList();
      renderShopImgs();
    })
    
    function renderBannerSlider() {
      //车主服务-轮播banner图数据
      var BannerData = {
        imgs: [
          {
            newsUrl:'#',
            imgUrl:'img/banner-2.png',
            alt: '',
            type: 1
          },
          {
            newsUrl:'#',
            imgUrl:'img/banner-1.png',
            alt: '',
            type: 1
          },
          {
            newsUrl:'#',
            imgUrl:'img/banner-3.png',
            alt: '',
            type: 1
          }
        ],
      }
      /**
       * 利用模板引擎 引用数据填充到模板中
       *
       * 参数一：模板id
       * 参数二：数据
       */
      var bannerHtml = template("banner-slider", BannerData);

      //将返回的模板结果添加到界面中
      document.getElementById('banner').innerHTML = bannerHtml
    }

    function renderServicesList() {
      //服务展示图片
      var servicesData = {
        services: [
          {
            url:'#',
            src:'img/glass.png',
            text: '玻璃修复案例'  
          },
          {
            url:'#',
            src:'img/huahen.png',
            text: '划痕修复案例'        
          },
          {
            url:'#',
            src:'img/dujing.png',
            text: '汽车镀晶案例'  
          },
          {
            url:'#',
            src:'img/aoxian.png',
            text: '凹陷修复案例'  
          },
          {
            url:'#',
            src:'img/silun.png',
            text: '四轮定位案例'  
          },
          {
            url:'#',
            src:'img/cheqi.png',
            text: '车漆修复案例'  
          }
        ],
      }
      /**
       * 利用模板引擎 引用数据填充到模板中
       *
       * 参数一：模板id
       * 参数二：数据
       */
      var servicesHtml = template("service-list", servicesData);

      //将返回的模板结果添加到界面中
      document.getElementById('services').innerHTML = servicesHtml
    }

    function renderShopImgs() {
      //门店图片数据
      var shopImgsData = {
        imgs: [
          {
            imgUrl:'img/shops04.jpg',
            alt: '开心养车门店图片'  
          },
          {
            imgUrl:'img/shops05.jpg',
            alt: '开心养车门店图片'  
          },
          {
            imgUrl:'img/shops03.jpg',
            alt: '开心养车门店图片'  
          },
          {
            imgUrl:'img/shops01.jpg',
            alt: '开心养车门店图片'        
          },
          {
            imgUrl:'img/shops06.jpg',
            alt: '开心养车门店图片'  
          },
          {
            imgUrl:'img/shops02.jpg',
            alt: '开心养车门店图片'  
          },
          
        ],
      }
      /**
       * 利用模板引擎 引用数据填充到模板中
       *
       * 参数一：模板id
       * 参数二：数据
       */
      var shopSliderHtml = template("img-slider", shopImgsData);

      //将返回的模板结果添加到界面中
      document.getElementById('shop-slider').innerHTML = shopSliderHtml
    }

  </script>
</body>

</html>